# System Files
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
pnpm-lock.yaml
yarn.lock

# IDEs
.idea/
*.code-workspace
.vscode/

# Other
tmp
test/tmp
dist/
*.tsbuildinfo
coverage/
